asgiref==3.2.7
beautifulsoup4==4.9.1
certifi==2020.4.5.1
Django==3.1.6
django-bootstrap4==2.1.1
django-crispy-forms==1.9.1
django-multifilefield==1.0
imageio==2.8.0
importlib-metadata==1.6.1
nibabel==3.1.0
numpy==1.18.5
packaging==20.4
Pillow==7.1.2
pyparsing==2.4.7
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
wincertstore==0.2
zipp==3.1.0
